.main {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "exerciseHeader"
        "exerciseSelectors"
        "exerciseCanvas";
    justify-items: center;
}

.exerciseHeader {
    grid-area: exerciseHeader;
    padding: 20px;
}

.exerciseSelectors {
    grid-area: exerciseSelectors;
    padding: 20px;
}

.exerciseCanvas {
    grid-area: exerciseCanvas;
    padding: 50px;
}

.exerciseSelector {
    margin: 10px;
}

.inputContainer {
    display: inline-flex;
    margin-bottom: 10px;
}

.tooltipIcon {
    margin-left: 8px;
    cursor: pointer;
}

.validateButton {
    margin-top: 20px;
}

.holeText {
    display: inline-flex;
    margin: 10px 0 10px 10px;
    white-space: pre-wrap;
}

.holeInput {
    max-width: 100px;
}

.scoreDisplay {
    margin-top: 20px;
}

@media (max-width: 600px) {
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .exerciseSelectors {
        flex-direction: column;
    }

    .exerciseCanvas {
        padding: 10px;
    }

    .validateButton {
        width: 100%;
    }

    .inputContainer {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .holeText {
        margin-right: 10px;
        white-space: pre-wrap;
    }

    .holeInput {
        max-width: 100px;
        margin-right: 10px;
    }
}